.enjoyable-container{
    // border: 1px solid red;
    height: 700px;
}


.nature-img {
    position: absolute;
    top: 670px;
}


.pattern-top-right {
  position: relative;
  right: 180px;
  top: 250px;
}


.enj-box2 {
    // border: 1px solid pink;
    position: relative;
    top: 177px;
    right: 200px;
    height: 273px;
}

.divide {
    width: 71px;
    height: 7px;
    position: absolute;
    right: 420px;
}

.enj-box2-info {
    position: relative;
    top: 50px;
    right: 50px;
}


.enj-box2 h1 {
    font-family: spartan-bold;
    font-size: 40px;
    width: 445px;
    height: 112px;
}


.enj-box2 p {
    font-family: spartan-light;
    font-size: 18px;
    line-height: 30px;
}