.footer-container {
    background-color: #000000;
    color: #ffff;
    height: rem(240px);
}

.footer {
    position: relative;
    top: 33%;
    right: rem(27px);
}


.footer-dine {
    font-size: rem(68px);
    font-family: spartan-semiBold;
}

.group2, .group3 {
    position: absolute;
    font-family: spartan-light;
    font-size: rem(14px);
    line-height: rem(28px);
    letter-spacing: rem(2px);
    left: rem(372.5px);
}


.group3 {
    left: rem(736.5px);
    width: rem(446px);
}

@include for-narrow-layout {
    .footer-container {
        display: flex;
        flex-direction: column;
    }
   
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
   
}


@include for-mobile-layout {
    .footer-container {
        height: rem(440px);
        text-align: center;
        padding-left: 14%;
    }
    
    .footer {
        width: rem(327px);
        height: rem(280px);
    }

  .group2, .group3 {
      width: 100%;
      left: 0px;
  }

  .group2 {
      top: rem(30px);
  }

  .group3 {
      top: rem(152px);
  }

  .footer-dine {
      position: relative;
      bottom: rem(170px);  
  }
}
