.header-img {
    width: 63vw;
    height: 100vh;
}


.header-container {
    color: #ffffff;
    height: 100vh;
    font-family: spartan;
}

.header-box1 {
    background-color: #000000;
    width: 35.9vw;
}

.header-box1>* {
    position:absolute;
    left: 167px;
}

.dine-header {
    position: absolute;
    top: 65px;
    left: 190px;
}


.header-info {
    position: relative;
    top: 220px;
    width: 523px;
    height: 364px;
}


.dine-header2 {
    font-size: 64px;
    line-height: 72px;
    font-family: spartan-light;
}

.header-info p {
    font-size: 20px;
    position: relative;
    top: 24px;
    font-family: spartan-light;
}

.header-info button {
    position: relative;
    top: 60px;
    width: 245px;
    height: 64px;
    background: #111111;
    border-color: #ffffff;
    color: #ffffff;
    font-family: spartan;
    letter-spacing: rem(2px);
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
} 


.header-info button:hover {
    background-color: #9e7f66a9;
}
