.highlight-container1 {
    color: #ffffff;
    background-color: #111111;
    height: rem(850px);
    position: relative;
    bottom: rem(150px);
}

.highlight-container2 {
    position: relative;
    top: rem(300px);
}

.highlight-box1 {
    //border: 1px solid red;
    max-width: rem(405px);
    height: rem(300px);
}

.highlight-box1 img {
    max-width: rem(71px);
    max-height: rem(7px);
}

.highlight-box1 h1 {
    font-size: rem(40px);
    font-family: spartan-bold;
    line-height: rem(56px);
    max-width: rem(445px);
    max-height: rem(112px);
}

.highlight-box1 p {
    position: relative;
    font-family: spartan-light;
    font-size: rem(18px);
    line-height: rem(30px);
    width: rem(460px);
    max-height: rem(90px);
    margin-top: rem(16px);
}

.highlight-box1 h1, .highlight-box1 p {
    position: relative;
    top: rem(48px);
}

.hightlight-box2 {
    position: absolute;
    left: rem(640px);
    //border: 1px solid green;
}

.hightlight-box2>* {
    margin-top: 50px;
} 



.menuItem {
    max-width: rem(540px);
    max-height: rem(96px);
}


.menuItem-box1 {
    max-width: rem(160px);
    max-height: rem(96px);
}

.menuItem-box1 img {
    max-width: rem(128px);
    max-height: rem(96px);
}



.menuItem-box1 :nth-child(2) {
    width: rem(32px);
    height: rem(1px);
    background-color: #9E7F66;
    position: relative;
    top: rem(18px);
}

.menuItem-box2 {
    position: relative;
    left: rem(30px);
} 


.menuItem-box2 h3{
    font-family: spartan-bold;
    font-size: rem(18px);
    line-height: rem(28px);
}

.menuItem-box2 p {
    font-size: rem(15px);
    line-height: rem(28px);
    font-family: spartan-light;
    margin-top: rem(4px);
}


.hr {
    width: rem(540px);
    height: rem(1px);
    position: absolute;
    top: rem(120px);
    right: rem(29px);
    background-color: #5c6779;
}



@include for-narrow-layout {
    .highlight-container1 {
        display: flex;
        flex-direction: column;
        bottom: 0px;
    }
    
    .highlight-container2, .menuItem, .menuItem-box1 {
        display: flex;
        flex-direction: column;
    }

    // .hightlight-box2 {
    //     left: 0px;
    // }
 
    .menuItem-box1 img {
        width: 100%;
        max-width: rem(327px);
        height: rem(245px);
    }
 }
 
 @include for-mobile-layout {
    .highlight-container1 {
        width: 100%;
        //height: 100%;
        height: rem(1720px);
        align-self: center;
    }

    .highlight-box1 img {
        position: relative;
        bottom: rem(228px);
        margin: 0 auto;
    }
    
    .highlight-box1 h1 {
        font-size: rem(32px);
        line-height: rem(40px);
        letter-spacing: rem(-0.4px);
        max-width: rem(327px);
        top: rem(-198px);
        text-align: center;
    }

    .highlight-box1 p {
        font-size: rem(15px);
        line-height: rem(24px);
        max-width: rem(327px);
        text-align: center;
        position: relative;
        top: rem(-190px);
    }

    .hightlight-box2 {
        width: 100%;
        max-width: rem(327px);
        height: rem(1277px);
        //border: 1px solid red;
        justify-content: space-between;
        //align-self: center;
        left: 5%;
        top: rem(64px);
        //text-align: center;
    }

   .item1 {
      position: relative;
      bottom: rem(50px);
   }

   .item2 {
       position: relative;
       bottom: rem(166px);
   }

   .item3 {
        position: relative;
        bottom: rem(284px);
   }

    .menuItem-box1 {
        max-width: rem(327px);
        max-height: rem(418px);
        //border: 10px solid green;
    }

    .menuItem-box1 img {
        max-width: rem(327px);
        max-height: rem(245px);
    }

    .menuItem-box1 :nth-child(2) {
        display: none;
    }

    .menuItem-box2 h3 {
        font-size: rem(18px);
        line-height: rem(28px);
        letter-spacing: rem(-0.22px);
        max-width: rem(327px);
        position: relative;
        right: 30px;
        top: rem(32px);
        text-align: center;
       // margin: 0 auto;
    }

    .menuItem-box2 p {
        font-size: rem(17px);
        line-height: rem(28px);
        letter-spacing: rem(-0.19px);
        position: relative;
        right: 30px;
        top: rem(30px);
        text-align: center;
       // margin: 0 auto;
    }

    .hr {
        max-width: rem(327px);
        position: relative;
        top: rem(60px);
    }
      

 }
 