.most-localy-container {
    //border: 1px solid blue;
    position: relative;
    max-height: 800px;
    z-index: 1;
    // top: 121px;
}

.most-localy-box1 {
    position: relative;
    top: 223px;
}


.divide2 {
    width: 71px;
    height: 7px;
}

.most-localy-box1-info {
    position: relative;
    top: 48px;
}

.most-localy-box1 h1 {
    font-family: spartan-bold;
    font-size: 40px;
    width: 445px;
    height: 112px;
}

.most-localy-box1 p {
    font-family: spartan-light;
    font-size: 18px;
    line-height: 30px;
}

.most-localy-box2 :nth-child(1) {
    width: 160px;
    height: 67px;
    position: relative;
    top: 300px;
    left: 670px;
    z-index: 1;
}

.most-localy-box2 :nth-child(2) {
    max-width: 540px;
    height: 720px;
    position: relative;
    left: 180px;
}


.most-localy-box2 :nth-child(3){
     position: relative;
     bottom: 460px;
     max-width: 888px;
}



@include for-narrow-layout {
   .most-localy-container {
       flex-direction: column;
   }
   .most-localy-box2 :nth-child(2) {
       width: 100%;
       max-width: rem(573px);
       height: 100%;
       max-height: rem(360px);
   }
  
}

@include for-mobile-layout {
    .most-localy-container {
        width: 100%;
        max-width: rem(327px);
        height: rem(683px);
        bottom: rem(65px);
    }

    .most-localy-box2 :nth-child(2) {
        content: url('../../assets/imgs/homepage/locally-sourced-mobile.jpg');
        width: 100%;
        max-width: rem(327px);
        max-height: rem(400px);
        left: 0px;
        bottom: rem(216px);
    }

    .pattern-lines, .hii {
        display: none;
    }

    .divide2 {
        position: relative;
        top: rem(173px);
        align-self: center;
    }

    .most-localy-box1-info {
        align-self: center;
    }

    .most-localy-box1-info h1 {
        font-size: rem(32px);
        line-height: rem(40px);
        letter-spacing: rem(-0.4px);
        max-width: rem(327px);
        position: relative;
        top: rem(157px);
        text-align: center;
    }

    .most-localy-box1-info p {
        font-size: rem(15px);
        line-height: rem(24px);
        max-width: rem(327px);
        text-align: center;
        position: relative;
        top: rem(156px);
    }
}
